rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // allow access by users with verfied account tocken true
    match /verifiedPost/{verifiedPostId} {

      allow read: if request.auth != null;
      allow create: if request.auth.token.verfiedUser == true 
        && request.auth.uid == request.resource.data.author.uid
        && request.resource.data.post.body is string 

      match  /post/{postId} {
         allow update, delete: if request.auth.token.verfiedUser == true && request.auth.uid == request.resource.data.author.uid
      }
      
    }





  }
}